<%= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) } %>

<div class="left-navi-section">
  <h2>Manage Featured Listings</h2>
  <div class="featured-listing">
    <div class="featured-request-header">
       Request For Featured listings shows
    </div>
    <div class="request-list">
      <table id="admin_members_list">
        <thead>
        <tr>
          <th>User</th>
          <th>Listing</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>