<li class="featured-listing has-link" style="background-image: url('<%= listing.listing_images.present??  listing.listing_images.first.image: '' %>'); background-size: 300px 220px; ">
  <a href="<%= listing_path(listing) %>">
        <span class="label-bottom">
          <%= listing.title %>
          <div class="rate-container cf">
            <span class="day-rate"><%= listing.price%></span>
          </div>
        </span>
  </a>
</li>