<%= render :partial => "admin/left_hand_navigation", :locals => {:links => admin_links_for(@current_community)} %>
<% content_for :title_header do %>
    <h1>
      <%= 'Manage Site Custom Settings' %>
    </h1>
<% end %>
<div class="left-navi-section">
  <div class="community-listing">
    <%= render 'form' %>
  </div>
</div>