<footer>
  <div class="layout-centered-content">
    <ul class="social-links-list">
      <li class="instagram"><a href="https://www.instagram.com/travoasia/">share on instagram</a></li>
      <li class="facebook"><a href="https://www.facebook.com/travoasia/">share on facebook</a></li>
    </ul>

    <ul class="footer-links">
      <li><a href="<%= about_infos_path %>">About</a></li>
      <li><a href="<%= new_user_feedback_path %>">Contact</a></li>
      <!--<li><a href="http://studiotimeio.wix.com/studiotime">Blog</a></li>-->
      <li><a href="<%= terms_infos_path %>">Terms</a></li>
      <li><a href="<%= privacy_infos_path %>">Privacy</a></li>
    </ul>

    <div class="footer-store-links">
      <a href="https://play.google.com/store" class="graphic-google-play-white">Google
        Play Store</a> &nbsp;
      <a href="https://itunes.apple.com" class="graphic-itunes-white">iTunes
        Store</a>
    </div>

  </div>
</footer>