<footer>
  <div class="layout-centered-content">
    <ul class="social-links-list">
      <li class="instagram"><a href="https://instagram.com/studiotimeio/">share on instagram</a></li>
      <li class="twitter"><a href="https://twitter.com/studiotimeio">share on twitter</a></li>
      <li class="facebook"><a href="https://www.facebook.com/studiotimeio">share on facebook</a></li>
      <li class="soundcloud"><a href="https://soundcloud.com/studiotimeio">soundcloud</a></li>
    </ul>

    <ul class="footer-links">
      <li><a href="https://listings.studiotime.io/en/infos/about">About</a></li>
      <li><a href="https://listings.studiotime.io/en/user_feedbacks/new">Contact</a></li>
      <!--<li><a href="http://studiotimeio.wix.com/studiotime">Blog</a></li>-->
      <li><a href="https://listings.studiotime.io/en/infos/terms">Terms</a></li>
      <li><a href="https://listings.studiotime.io/en/infos/privacy">Privacy</a></li>
    </ul>

    <div class="footer-store-links">
      <a href="https://play.google.com/store/apps/details?id=com.phonegap.studiotime&hl=en" class="graphic-google-play-white">Google
        Play Store</a> &nbsp;
      <a href="https://itunes.apple.com/us/app/studiotime.io/id991200639" class="graphic-itunes-white">iTunes
        Store</a>
    </div>

  </div>
</footer>