<%= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) } %>
<% content_for :title_header do %>
    <h1>
      <%= 'Edit Site Communities' %>
    </h1>
<% end %>
<div class="left-navi-section">
  <%= render 'form' %>
</div>